@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto+Slab&display=swap');


*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

html {
  background-color: #e2e2e2;
  background-attachment: fixed;
  overflow-x: hidden;
  font-family: sans-serif;
}


.title{
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}

.header{
    max-width: 100%;
    color: #ffffff;
    padding: 8px 0;
}

.logo{
    max-width: 225px;
    height: 100%;
}

.mr-xl {
    margin-right: 100px !important;
}

.bg-black{
  background: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.5));
}

#beneficii{
  color: #ffffff;
}

.icon-inner span{
  width: 150px;
  height: 150px;
  line-height: 75px;
}

.icon-inner span::before{
  font-size: 85px;
  
}



.carousel-item {
    height: 1050px;
    max-width: 100%;
    object-fit: cover;
  }
  
  .carousel-image-1 {
    background: url('../images/image1.jpg');
    background-position: center;
    background-size: cover;
  }
  
  .carousel-image-2 {
    background: url('../images/image2.jpg');
    background-size: cover;
    
  }
  
  .carousel-image-3 {
    background: url('../images/image3.jpg');
    background-size: cover;
    background-position: center;
  }

  .img-equal{
    height: 255px !important;
  }

.card-body{
  height: 510px !important;
}


.bg-red {
  background-color: #e37474 !important;
}

.blck{
  color: black !important;
}

.footer{
  background-color: #0f3654;
  color: #ffffff !important;
  padding: 80px 0;
}

h1{
  font-family: 'Lobster', cursive;;
}

h2{
  font-family: 'Roboto Slab', serif;
  text-transform: uppercase;
  font-size: 22px;
  letter-spacing: 5px;
}

h3{
  font-family: 'Lobster', cursive;
  color: #e37474;
}
.first li{
  padding: 5px 0;
}
ul li a{
  text-decoration: none;
  color: #ffffff;
}

ul li a:hover{
  color: #3b0c0c;
}




  
