*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

html,
body {
  background-color: #e2e2e2;
  background-attachment: fixed;
  overflow-x: hidden;
  font-family: sans-serif;
  font-weight: 300;
  text-rendering: optimizeLegibility;
}


.title{
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}

.left{
  font-size: 18px;
}

.header{
    width:100%;
    color: #ffffff;
}

ul{
  margin-bottom: 0 !important;
}

.logo{
    max-width: 225px;
    height: 100%;
}

.mr-xl {
    margin-right: 100px !important;
}

.bg-black{
  background: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.5));
}

#beneficii{
  color: #ffffff;
}

.icon-inner span{
  width: 150px;
  height: 150px;
  line-height: 75px;
}

.icon-inner span::before{
  font-size: 85px;
  
}



.icon{
  font-size: 24px;
}


.carousel-item {
  height: 65vh;
  min-height: 600px;
  background: no-repeat center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

  .img-equal{
    height: 255px !important;
  }

.card-body{
  height: 510px !important;
}


.bg-red {
  background-color: #e37474 !important;
}

.blck{
  color: black !important;
}

.section{
  background-color: #0f3654;
  color: #ffffff !important;
  padding: 80px 0;
}

.flaticon-interface::before{
  margin-left: 0px !important;
}

h1{
  font-family: 'Lobster', cursive;;
}

h2{
  font-family: 'Roboto Slab', serif;
  text-transform: uppercase;
  font-size: 22px;
  letter-spacing: 5px;
}

h3{
  font-family: 'Lobster', cursive;
  color: #e37474;
}
.first li{
  padding: 5px 0;
}
ul li a{
  text-decoration: none;
  color: #ffffff;
}

ul li a:hover{
  color: #3b0c0c;
}

.prog{
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/background.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/background.jpg);
  background-size: cover;
  background-position: center;
  min-height:650px;
  height: 60vh;
  background-attachment: fixed;
}
